:root {
    --light:#C9E4CA;
    --eton: #87BBA2;
    --aero:#BEE6CE;
    --hover:#8DFFCD;
    --clicked:#BBD5ED;
    /* colors below should be paired with white/light text */

    --dark:#364958; 
    --steel:#55828B;
    --space:#3B6064;
    --rich:#042A2B;
    
}

* {
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px 30px;
    background-color: var(--dark);
    
}
header h1{
    color:var(--light);
    font-size: 64px;
    font-weight: bold;
}

a:hover{
    color:var(--clicked)
}
a:active{
    color:var(--light)
}

nav a {
    color:var(--eton);
    font-size: 18px;
    font-style: italic;
    padding: 12px;
    text-decoration: wavy;
}
body{
    background-color: var(--aero);
}

.containerStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--steel);
    color:var(--light);
    width:98%;
    padding: 20px;
    margin: 20px 0px;
    border-bottom-right-radius: 50px;
}

#photoMyself{
    display: flex;
    align-items: center;
    
}

#photoMyself img{
    max-width: 200px;
    max-height: 300px;
    border-radius: 30%;
    border: 5px double var(--dark);
    
}

.aboutMe h2{
    display: flex;
    font-size: 50px;
}

.aboutMe{
    padding: 12px;
    width:85%;
    padding-top: 30px;
    font-size: 20px;
}

#workspace h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 20px;
    width:100%;
}

.projectBox{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.projectContainer{
    display: flex;
    text-align: center;
    background-color: var(--eton);
    justify-content: space-between;
    width: 100%;
    border: 5px double var(--dark);
    border-radius: 12px;
    color: var(--rich);
    padding: 12px 12px ;
    
    margin:0.5em   
}

.grow{
    transition: all .2s ease-in-out;
}
.grow:hover{
    transform: scale(1.1);
}
.grow:active{
    transform: scale(1.1);
}

footer ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    padding: 0 0.5 0.5 0;
}
footer h6{
    text-align: center;
    margin-bottom: 10px;
}