:root {
    --light:#C9E4CA;
    --eton: #87BBA2;
    --aero:#BEE6CE;
    --hover:#8DFFCD;
    --clicked:#BBD5ED;
    /* colors below should be paired with white/light text */

    --dark:#364958; 
    --steel:#55828B;
    --space:#3B6064;
    --rich:#042A2B;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px 30px;
    background-color: var(--dark);
}
header h1{
    color:var(--light);
    font-size: 64px;
}
nav a {
    color:var(--eton);
    font-size: 18px;
    font-style: italic;
    padding: 12px;
    text-decoration: wavy;
}
body{
    background-color: var(--aero);
}